name: "Deployment"
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  deploy-to-gh-pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build and Deploy
        env:
          PERSONAL_TOKEN: ${{ secrets.PRIVATE_TOKEN }} 
        run: |
          npm run build-for-gh-pages
          
          # Basic Git config (removes the GPG error)
          git config --global user.name 'Hanish-tompala'
          git config --global user.email 'hanishtompla@gmail.com'
          
          # Clone target repo and sync files
          git clone https://${{ secrets.PRIVATE_TOKEN }}@github.com/Hanish-tompala/Hanish-tompala.github.io.git out_repo
          rm -rf out_repo/*
          cp -r out/* out_repo/
          touch out_repo/.nojekyll
          
          cd out_repo
          git add .
          git diff-index --quiet HEAD || git commit -m "Deploy Portfolio: ${GITHUB_SHA::8}"
          git push origin main
